{% extends "base.html" %}
</nav>
</div>
<div class="content">

{% block content %}
<h3>Please fill out the new member information:</h3>
<form method="post" class="w3-container">
    <br>
    <label for="member_name">Name:</label>
    <input type="text" id="member_name" name="member_name" required value="{{ request.form['member_name'] }}"><br><br>

    <label for="member_address">Address:</label>
    <input type="text" id="member_address" name="member_address" required value="{{ request.form['member_address'] }}"><br><br>

    <label for="member_email">Email:</label>
    <input type="email" id="member_email" name="member_email" required value="{{ request.form['member_email'] }}"><br><br>

    <label for="member_phone">Phone:</label>
    <input type="tel" id="member_phone" name="member_phone" required value="{{ request.form['member_phone'] }}"><br><br>

    <label for="member_start_date">Start Date:</label>
    <input type="date" id="member_start_date" name="member_start_date" required value="{{ request.form['member_start_date'] }}"><br><br>

    <label for="member_period">Membership Period:</label>
    <select id="member_period" name="member_period" required>
        <option value="6M" {% if request.form['member_period'] == '6 months' %}selected{% endif %}>6 Months</option>
        <option value="1Y" {% if request.form['member_period'] == '1 year' %}selected{% endif %}>1 Year</option>
    </select><br><br>

    <button type="submit">Submit</button>
</form>
{% endblock %}