<!-- This is how we extend the base layout so we don;t need to do it again! -->
{% extends 'base.html' %}
<!-- Now i can fill out the blocks that I want -->
{% block content %}
<table style="text-align:center;">
    <tr>
        <th width="200">NAME</th>
        <th width="200">PERIOD</th>
    </tr>
    <!-- iterate through the results use the symbols to show "code" in the template -->
    {% for item in results%} 
    <tr>
        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
    </tr>
    <!-- must have an "endfor"! dont forget -->
    {% endfor %}
</table>
{% endblock %}